[2018-01-01 13:42] the-ethan-hunt opened #1 "Add Hadoop"
Add Hadoop in `data_science/miscellaneous`

[2018-01-01 13:45] the-ethan-hunt opened #2 "Add Unity"
Add the article in a new folder titled "Game Development"

[2018-01-01 13:47] the-ethan-hunt opened #3 "Add Steganography"
Add the article in a new folder titled 'Security'

[2018-01-01 13:49] the-ethan-hunt opened #4 "Add Text classification"
Add the article to [this folder](https://github.com/the-ethan-hunt/first-timers-guide/tree/master/guides/data_science/natural_language_processing)

[2018-01-03 13:42] the-ethan-hunt opened #5 "Add Ansible"
Add to `guides/DevOps`

[2018-01-03 13:43] the-ethan-hunt opened #6 "Add Docker"
Add to `guides/DevOps`

[2018-01-04 12:43] #3 closed

[2018-01-04 12:59] the-ethan-hunt opened #8 "Color Theory"
Add Color Theory in `guides/Visual_design`

[2018-01-04 13:01] the-ethan-hunt opened #9 "Code Smell"
Add Code smell in `guides/agile`

[2018-01-04 13:01] the-ethan-hunt opened #10 "Moscow"
Add Moscow in `guides/agile`

[2018-01-06 07:30] the-ethan-hunt opened #11 "Honeypots"
Add Honeypots in `guides/Security`

[2018-01-06 07:35] the-ethan-hunt opened #12 "Phoenix"
Add Phoenix in `guides/Elixir`

[2018-01-06 07:36] the-ethan-hunt opened #13 "Django"
Add Django in `guides/Python`

[2018-01-07 13:55] the-ethan-hunt opened #14 "Apache Spark"
Add Apache spark guide article in `guides/data_science/miscellaneous`

[2018-01-08 13:29] the-ethan-hunt opened #15 "Dining philosophers problem"
Add in `guides/Logic`

[2018-01-08 13:31] the-ethan-hunt opened #16 "Grunt"
Add in `guides/DevOps`

[2018-01-10 13:47] the-ethan-hunt opened #17 "Azure"
Add the guide in `guides/Cloud_development`

[2018-01-12 03:09] seowwj commented on #8
Did you mean you're looking for someone to help contribute to color theory?

If so I may be able to help 😄

[2018-01-12 03:48] the-ethan-hunt commented on #8
Yes! You can write a guide article on it! You can also write on other
issues too! If you have any more doubts you are free to ask! :)

On Jan 12, 2018 8:39 AM, "seowwj" <notifications@github.com> wrote:

Did you mean you're looking for someone to help contribute to color theory?

If so I may be able to help 😄

—
You are receiving this because you authored the thread.
Reply to this email directly,

[2018-01-17 16:24] the-ethan-hunt opened #18 "Firebase"
Add in `guides/Cloud_development`

[2018-01-25 16:05] the-ethan-hunt opened #19 "Add Unreal Engine"
Add the article in `guides/game_development`

[2018-01-31 17:47] the-ethan-hunt opened #21 "Git"
Add articles on git. The folder should be titled as in `guides/git`. Include necessary code snippets like `git merge`, `git pull` etc. The article should be comparatively much longer than other articles due to the content

[2018-02-05 17:32] the-ethan-hunt opened #22 "Wireframing"
Add the article in `guides/Visual_design`

[2018-02-12 16:35] the-ethan-hunt opened #23 "Collaboration"
We need collaboration with societies and people to promote this and open-source. issue open for discussions

[2018-02-14 14:39] sherribooher commented on #21
I would like to work on this, please.

[2018-02-14 15:10] the-ethan-hunt commented on #21
@sherribooher , feel free to take up the issue! :smile:

[2018-02-17 10:02] mangalnathanvg commented on #15
Hi I am going to work on this Issue.

[2018-02-19 14:04] ap1459 commented on #22
Hello @the-ethan-hunt, I would like to contribute to this, as I have had some experience with high-fidelity wireframing tools such as Justinmind.

[2018-02-19 15:17] the-ethan-hunt commented on #22
@ap1459 , you are free to work on this! If you can, please also add articles on these tools. Also before working, please see #24 . :smile:

[2018-02-19 16:25] ap1459 commented on #22
Okay great thanks @the-ethan-hunt. So should I add two separate articles? One for Wireframing in general, and then one for Justinmind?

[2018-02-19 16:37] the-ethan-hunt commented on #22
@ap1459 , feel free to create them! Add both the articles in `guides/Visual_design/Wireframing` then.

[2018-02-19 17:23] ap1459 commented on #22
Hi @the-ethan-hunt, I have made the changes but am having difficulty pushing them. I am using GitKraken and when I attempt to push the changes, it says -

"Access denied. Make sure that you have access to do that action on that remote and try again. If the-ethan-hunt is an organization on GitHub, you may need to request or grant access to the organization for GitKraken."

[2018-02-20 06:41] the-ethan-hunt commented on #22
Closing this issue

[2018-02-20 06:41] #22 closed

[2018-02-20 06:42] the-ethan-hunt commented on #2
Closing this issue

[2018-02-20 06:42] #2 closed

[2018-02-21 16:01] the-ethan-hunt opened #27 "Vagrant"
Add in `guides/DevOps`

[2018-02-21 18:41] ap1459 commented on #23
Hi @the-ethan-hunt, what kind of societies do you have in mind? I can also promote this by sharing it with other students and asking them for contributions if that's what you mean?

[2018-02-22 03:19] the-ethan-hunt commented on #23
@ap1459 , yes in a way. First-timers-guide is currently collaborating with CMoC. This guide is for those who are new to open-source. Hence I desire to promote it through various coding programmes in various institutes. If your college has a 'code-club', you can certainly tell them about this; but not ask for contributions. :smile:

[2018-02-22 17:46] the-ethan-hunt opened #28 "Hick's law"
Add this in `guides/UX_design`

[2018-02-26 17:44] BethHaworth opened #30 "Add Blender"
I'm a first time contributor and would like to add an article to first-timers-guide/guides/Game Development/ on Blender.

[2018-02-27 03:05] the-ethan-hunt commented on #30
@BethHaworth , yes you are free to add one. Do read the contribution guidelines before submitting a PR. :smile:

[2018-02-27 14:09] BethHaworth commented on #30
Thanks- PR submitted.

[2018-02-27 14:09] #30 closed

[2018-02-28 13:57] codezoned commented on #21
I'll also like to take up this issue

[2018-02-28 17:30] the-ethan-hunt commented on #21
Feel free to! @codezoned !

[2018-03-08 17:43] the-ethan-hunt opened #32 "Fitts Law"
Add in `guides/UX_design`

[2018-03-15 14:51] the-ethan-hunt opened #33 "Monty Hall problem"
Add in `guides/logic`

[2018-03-19 17:36] the-ethan-hunt commented on #28
Closing this.

[2018-03-19 17:36] #28 closed

[2018-03-21 18:09] #19 closed

[2018-03-22 13:14] the-ethan-hunt opened #35 "Wireshark"
Add in `guides/Security`

[2018-03-24 05:38] newtorob commented on #5
I would like to take on this issue, if possible?

[2018-03-25 10:46] the-ethan-hunt commented on #5
Feel free to @newtorob !

[2018-04-04 13:31] ap1459 commented on #35
Hi @the-ethan-hunt , I've used Wireshark in the past and would like to have a go at writing an article for it.

[2018-04-05 11:52] the-ethan-hunt commented on #35
@ap1459, please go for it! :smile:

[2018-04-06 07:18] Grey360 commented on #18
I am interested in taking care of the issue #18.

[2018-04-06 07:30] Tyraelium commented on #21
Hello every one, can i work on this task please ?

[2018-04-06 07:30] your1p commented on #27
Hi,

I want to explain what is Vagrant. I use it everyday.

Thanks.

[2018-04-06 07:40] Haradwaith opened #36 "CakePHP3"
Add a guide about CakePhp 3

[2018-04-06 08:01] allrib commented on #11
I want to take up this :)

[2018-04-09 08:56] #18 closed

[2018-04-16 08:00] the-ethan-hunt commented on #35
Closing this issue

[2018-04-16 08:00] #35 closed

[2018-04-20 01:11] pmanjunath29 commented on #33
Hi - I'd like to take this issue. It's my first contribution. Thanks.

[2018-04-20 03:37] the-ethan-hunt commented on #33
Assigned to @pmanjunath29

[2018-04-20 03:52] pmanjunath29 commented on #33
Thank you - I have raised a pull request. Please let me know if you have any feedback.

[2018-04-22 16:55] the-ethan-hunt commented on #33
Closing this after a great PR by @pmanjunath29

[2018-04-22 16:55] #33 closed

[2018-04-25 03:33] pmanjunath29 commented on #33
Thank you, I appreciate your help, this is my first ever commit to Git.

[2018-04-25 20:47] pmanjunath29 commented on #14
I can work on this issue. Please assign to me. Thanks.

[2018-04-27 19:34] andreadias commented on #10
I can do this :)

[2018-04-28 17:38] the-ethan-hunt commented on #10
assigned to @andreadias

[2018-04-28 17:39] the-ethan-hunt commented on #14
Assigned to @pmanjunath29

[2018-05-16 15:32] tmcdermo commented on #32
Hello, newcomer to the open source world but I'd like to take a crack at this.

[2018-05-16 15:35] the-ethan-hunt commented on #32
Sure!
Assigned to @tmcdermo

[2018-05-16 15:35] the-ethan-hunt commented on #14
Closing this issue now

[2018-05-16 16:16] tmcdermo commented on #32
Ok I think I did that correctly, but please let me know if I did not!

[2018-05-21 02:36] the-ethan-hunt commented on #10
Closing this issue now

[2018-05-21 02:36] #10 closed

[2018-05-23 02:56] the-ethan-hunt commented on #27
Sorry for the late reply!
assigned to @your1p

[2018-05-23 02:56] the-ethan-hunt opened #51 "Regression"
Explain each type of regression with clear and concise information. No mathematical jargon would be allowed.
Add in `guides/data_science/machine_learning`

[2018-06-08 06:34] the-ethan-hunt commented on #21
Closing this issue

[2018-06-08 06:34] #21 closed

[2018-06-12 11:31] Nilkamal opened #60 "ReactJS"
Add guide about ReactJS.

[2018-06-17 06:50] pbiswas101 commented on #15
@the-ethan-hunt Can I work on this issue?

[2018-06-17 09:28] the-ethan-hunt commented on #15
Sure! assigned to @pbiswas101

[2018-06-17 10:07] thisisabdus opened #63 "Add NodeJS"
Add a starter guide on Node JS.

[2018-06-17 10:08] thisisabdus commented on #63
I would love to contribute on this issue if added.

[2018-06-17 11:04] the-ethan-hunt commented on #63
Please explain what would you be writing in this topic.

[2018-06-18 12:00] the-ethan-hunt commented on #63
This would certainly a nice article. Please begin writing in the Markdown format.

[2018-06-18 16:54] thisisabdus commented on #63
Sure. Should I make a PR when I am done with this?

[2018-06-19 12:30] the-ethan-hunt commented on #63
Yes @thisisabdus . Please mention the issue number too

[2018-06-21 00:59] ScottBrenner opened #64 "Add website?"
Creating a static website for this repository should be pretty straight forward, anyone up to the task? See https://pages.github.com/

[2018-06-22 14:59] pbiswas101 commented on #64
Yes, I would love to work on this! @ScottBrenner
Can I work on this? @the-ethan-hunt

[2018-06-22 15:43] the-ethan-hunt commented on #64
Great idea! Perhaps the site could look much like this [one](http://search.opengenus.org/)?

[2018-06-22 18:00] agarwalprashasti commented on #1
hello,I would like to work on this.
What are the requirements?

[2018-06-23 01:38] Logan1x commented on #13
Hey @the-ethan-hunt i would like to work on this.
Does this issue count in gssoc?

[2018-06-23 02:35] sourabh1031 commented on #64
Hello @the-ethan-hunt I am participant of GSSOC. I would be happy to contribute to it if you want

[2018-06-23 04:04] pbiswas101 opened #65 "[Logic] The Hardest Logic Puzzle Ever"
This would be an article on _The Three Gods Riddle_!
Seems to me a perfect fit for the *logic* section.

[2018-06-23 04:12] pbiswas101 commented on #65
@the-ethan-hunt  if you think this issue would be appropriate then please add a label to this Issue regarding GSSOC.

[2018-06-23 05:53] Dhiraj240 commented on #17
Hi,i would like to make an article over it.Can i ?

[2018-06-23 05:54] Dhiraj240 commented on #17
Hi,i would like to make an article over it.Can i ? also will it be counted for Gssoc?

[2018-06-23 05:59] Dhiraj240 commented on #64
I would also like to work with you guys @ScottBrenner @pbiswas101 can i work with them? @the-ethan-hunt

[2018-06-23 07:49] sourabh1031 commented on #60
@Nilkamal I would like to work on this issue .I would like to write how one should get started in react ,different ways to implement it in system ,JSX and virtual DOM.Is it satisfactory? or i should add more

[2018-06-23 08:06] rahulkumaran opened #67 "Fix boldness issue in guides/game development/unity.md"
The hashtags haven't been properly adjusted to achieve boldness at various places. I'd like to take this issue up and solve it. Thanks

[2018-06-23 08:10] rahulkumaran opened #68 "Logo link broken in unity.md and unreal.md"

[2018-06-23 08:43] uemarica commented on #1
Hey i would like to work on this.

[2018-06-23 14:43] Pallavi024 commented on #8
I would like to work on this @the-ethan-hunt , how should i get myself assigned?? and is this a part of gssoc?

[2018-06-23 14:52] RN0311 commented on #68
Yes, please go ahead.!

[2018-06-23 18:01] rahulkumaran commented on #68
@RN0311 done :smile:

[2018-06-23 18:07] the-ethan-hunt commented on #13
Yes, @Logan1x . It is assigned to you now.
Assigned to @Logan1x

[2018-06-23 18:18] the-ethan-hunt commented on #65
Closing this issue

[2018-06-23 18:18] #65 closed

[2018-06-23 18:19] the-ethan-hunt commented on #17
Yes, it will count for GSSOC.
Issue assigned to @Dhiraj240

[2018-06-23 18:20] the-ethan-hunt commented on #64
@Dhiraj240 , you already have been assigned an issue.
Issue assigned to @ScottBrenner **only** for now

[2018-06-23 18:22] the-ethan-hunt commented on #60
What would this article comprise of? Please explain it.

[2018-06-23 18:31] the-ethan-hunt commented on #1
@agarwalprashasti you need have a sufficient knowledge of Hadoop to write an article on it. :smile:

[2018-06-23 18:32] the-ethan-hunt commented on #4
Assigned to @dhairyabaweja

[2018-06-23 18:33] the-ethan-hunt commented on #8
Yes this is a part of GSSOC.
Assigned to @Pallavi024

[2018-06-23 18:36] the-ethan-hunt commented on #36
Include the article in `guides/Web-frameworks`

[2018-06-23 18:39] the-ethan-hunt commented on #15
Update: @pbiswas101 please work on this issue before working on other issues

[2018-06-24 03:15] Nilkamal commented on #60
This article is about react. What is react ?.

[2018-06-24 04:46] pbiswas101 commented on #15
@the-ethan-hunt sure!

[2018-06-24 09:37] the-ethan-hunt commented on #15
Assigned to @pbiswas101

[2018-06-24 09:50] the-ethan-hunt commented on #60
What I meant is a bit-by-bit distribution of the article. See this issue [here](https://github.com/the-ethan-hunt/first-timers-guide/issues/63)

[2018-06-24 10:00] #68 closed

[2018-06-24 10:01] #67 closed

[2018-06-24 10:16] Pallavi024 commented on #11
I would like to work on this @the-ethan-hunt

[2018-06-24 10:33] the-ethan-hunt opened #71 "Monty hall problem"
Add in `guides/logic`

[2018-06-24 12:37] uemarica commented on #1
Can i work on this,i have enough knowledge of hadoop?

[2018-06-24 13:15] sourabh1031 commented on #60
@Nilkamal react is a front end javascript library used to create web applications

[2018-06-24 14:18] imkaka commented on #51
I want to take this @the-ethan-hunt .

[2018-06-24 15:01] megha070 commented on #11
I would like to work on this sir!

[2018-06-24 15:12] megha070 commented on #16
I would like to work on this sir!

[2018-06-25 15:57] Shristy2404 commented on #6
I'd like to work on this, please?

[2018-06-25 18:17] the-ethan-hunt commented on #51
Assined to @imkaka

[2018-06-25 18:18] the-ethan-hunt commented on #11
Assigned to @megha070 .
@Pallavi024 please complete your edits of the pending PR and work on another issue :smile:

[2018-06-25 18:19] the-ethan-hunt commented on #6
Assigned to @Shristy2404

[2018-06-25 18:33] the-ethan-hunt commented on #1
Sure! Assigned to @uemarica

[2018-06-25 18:36] the-ethan-hunt commented on #4
Time limit exceeded @dhairyabaweja !
Issue up for grabs!

[2018-06-25 18:39] #15 closed

[2018-06-25 18:40] the-ethan-hunt commented on #17
Time limit exceeded @Dhiraj240 ! Issue unassigned and up for grabs!

[2018-06-25 18:42] the-ethan-hunt commented on #63
Issue up for grabs!

[2018-06-25 21:13] thisisabdus commented on #63
Re-claiming it. I got busy with Uni exams.

[2018-06-26 02:38] pbiswas101 commented on #9
@the-ethan-hunt I'd like to work on this since it's unassigned now!

[2018-06-26 04:08] bhaskarSingh commented on #60
I would like to work on this issue

[2018-06-26 05:36] mohit2016 commented on #17
I would love to write about Azure. Can you assign this issue to me. I will complete it asap.

[2018-06-26 06:07] mohit2016 commented on #63
I can write about NodeJS, if you assign this issue to me like basic setup, how to start with NPM , v8 JS , EXpress framework.
 I will complete it very soon..!!

[2018-06-26 08:08] thisisabdus commented on #63
@the-ethan-hunt , should I make a PR? Waiting for your approval

[2018-06-26 13:14] the-ethan-hunt commented on #9
Assigned to @pbiswas101

[2018-06-26 13:15] the-ethan-hunt commented on #60
@bhaskarSingh please explain what would you be writing about ReactJS.

[2018-06-26 13:16] the-ethan-hunt commented on #17
Assigned to @mohit2016

[2018-06-26 13:17] the-ethan-hunt commented on #63
Assigned to @thisisabdus . Please complete it in the time window :smile:

[2018-06-26 13:18] sourabh1031 commented on #60
@the-ethan-hunt i asked for the same issue and described what react is but you didn't assign it to me why?

[2018-06-26 13:21] the-ethan-hunt commented on #60
@sourabh1031 you never requested me to be assigned this issue.  Secondly, when I asked what you would be writing in it you gave a very confusing answer. If @bhaskarSingh 's description of his PR is lucid enough, he will be assigned the issue.

[2018-06-26 13:26] the-ethan-hunt opened #75 "Kubernetes"
Add in `guides/DevOps`

[2018-06-26 13:27] sourabh1031 commented on #75
I want to work on this issue @the-ethan-hunt

[2018-06-26 13:39] the-ethan-hunt commented on #75
Assigned to @sourabh1031

[2018-06-26 13:44] bhaskarSingh commented on #60
I would be writing about how to quickly get started by reactjs

[2018-06-26 13:46] #8 closed

[2018-06-26 13:52] megha070 commented on #27
I would like to work on this  issue @the-ethan-hunt !

[2018-06-26 13:56] Pallavi024 commented on #5
I would like to work on this

[2018-06-26 14:58] thisisabdus commented on #63
I will make PR today for sure. Thank you

[2018-06-26 17:07] pbiswas101 commented on #4
@the-ethan-hunt I would like to work on this!

[2018-06-26 17:26] thisisabdus opened #78 "Add SVN"
I want to write an article on SVN. Few points I would like to cover are,

- What's SVN
- How to install it in windows and Linux
- How to use it for managing project
... and more!

Let me know your thoughts.

[2018-06-27 08:39] mohit2016 commented on #78
I want to take this issue :)

[2018-06-27 11:49] Shristy2404 commented on #6
There's no DevOps folder in guides. Does it need to be created?

[2018-06-27 13:43] #9 closed

[2018-06-27 13:48] #63 closed

[2018-06-27 13:51] the-ethan-hunt commented on #6
Yes @Shristy2404
P.S. Today is the deadline for you.

[2018-06-27 13:52] the-ethan-hunt commented on #78
Go for it. Assigned to @thisisabdus

[2018-06-27 13:53] the-ethan-hunt commented on #1
Time limit exceeded. Issue up for grabs!

[2018-06-27 13:54] the-ethan-hunt commented on #5
Sure! Assigned to @Pallavi024

[2018-06-27 13:55] the-ethan-hunt commented on #51
Time limit exceeded! Issue up for grabs!

[2018-06-27 13:55] the-ethan-hunt commented on #71
Time limit exceeded!

[2018-06-27 13:56] the-ethan-hunt commented on #4
Assigned to @pbiswas101

[2018-06-27 13:58] the-ethan-hunt opened #81 "Heroku"
Add in `guides/Cloud_development`

[2018-06-27 15:37] imkaka commented on #51
I am working on it I will complete by some hours @the-ethan-hunt

[2018-06-27 16:07] thisisabdus commented on #78
Thank you. :heart:

[2018-06-27 16:08] sourabh1031 commented on #75
@the-ethan-hunt i will send pr to you in the early morning tommorow sorry for little late

[2018-06-27 16:39] pbiswas101 opened #86 "Web Assembly"
@the-ethan-hunt I would like to write about this based on the following topics!

- What is it?
- What does it bring to the table?
- Does it mean the death of JavaScript?
- Supporting Languages
- What does it mean for the future?

I think this should go to **guides/web_development** folder.. so please label & assign it so that I can start writing about it!

[2018-06-27 18:57] Shristy2404 commented on #6
I opened a pull request. Let me know if any corrections are required.  :)

[2018-06-27 19:21] thisisabdus commented on #81
I am claiming this issue. I will write a starter guide on heroku.

[2018-06-27 19:31] thisisabdus commented on #64
Hey Scott, gonna build it using static site generator? Like Hugo or Jekyll?

[2018-06-28 12:36] #11 closed

[2018-06-28 12:36] the-ethan-hunt commented on #13
Issue up for grabs!

[2018-06-28 12:54] the-ethan-hunt commented on #81
Assigned to @thisisabdus . But please complete the minor edit of your earlier PR first.

[2018-06-28 12:55] the-ethan-hunt commented on #86
The first two points are alright. I don't feel the need to include "what does it mean for the future"(your call to include this) and "does it mean the death of javascript?"( no opinions will be entertained)
Assigning this issue to @pbiswas101

[2018-06-28 12:57] the-ethan-hunt commented on #60
Alright. Assigned to @bhaskarSingh

[2018-06-28 12:58] #6 closed

[2018-06-28 12:58] #4 closed

[2018-06-28 13:15] pbiswas101 commented on #86
Thanks @the-ethan-hunt
Sure won't be including those!

[2018-06-28 16:35] sourabh1031 commented on #27
@the-ethan-hunt i want to work on this issue.

[2018-06-28 16:36] thisisabdus commented on #81
Thank you.

[2018-06-28 17:33] megha070 commented on #13
I would like to work on this @the-ethan-hunt !

[2018-06-28 17:56] Pallavi024 commented on #71
@the-ethan-hunt  I would like to work on this

[2018-06-28 18:01] mohit2016 commented on #13
@the-ethan-hunt I want to write about it..

[2018-06-28 19:08] saberprashant opened #93 "Angular"
Hey, I would like to write a small guide related to Angular(mainly Angular 5) framework. I will provide some basic details about it, and will also explain "How a beginner can setup their first project" with some basic syntax.

[2018-06-28 19:14] saberprashant commented on #93
@the-ethan-hunt can you please assign me this issue under GSSOC?

[2018-06-29 01:58] ScottBrenner commented on #64
Yes - also, someone else is welcome to work on this instead of me.

[2018-06-29 04:17] mohit2016 commented on #51
I want to take this issue @the-ethan-hunt :)

[2018-06-29 05:02] pbiswas101 commented on #64
Then I would like to work on it!

[2018-06-29 08:14] varshika15 commented on #81
I am interested to collab in this issue.

[2018-06-29 08:22] pbiswas101 opened #94 "SDLC"
@the-ethan-hunt let me know your thoughts on this one!

If you approve, I would like to work on this!

[2018-06-29 09:33] mohit2016 commented on #36
I want to take this issue... @the-ethan-hunt please assign

[2018-06-29 16:29] #86 closed

[2018-06-29 16:30] #5 closed

[2018-06-29 16:30] #17 closed

[2018-06-29 16:31] the-ethan-hunt commented on #71
Assigned to @Pallavi024

[2018-06-29 16:32] the-ethan-hunt commented on #27
@sourabh1031 please complete your previous PR before claiming the issue,

[2018-06-29 16:32] #78 closed

[2018-06-29 16:33] the-ethan-hunt commented on #13
Assigned to @megha070

[2018-06-29 16:34] the-ethan-hunt commented on #93
Alright. However, a proper demo should be given.
Assigned to @saberprashant

[2018-06-29 16:36] Pallavi024 commented on #16
I would like to work on this

[2018-06-29 16:36] the-ethan-hunt commented on #64
Assigned to @pbiswas101

[2018-06-29 16:36] #51 closed

[2018-06-29 16:38] the-ethan-hunt commented on #36
Assigned to @mohit2016
P.S. Please don't try to take up multiple issues.

[2018-06-29 16:43] the-ethan-hunt commented on #16
Assigned to @megha070 .
@Pallavi024 you have been assigned one already

[2018-06-29 17:32] saberprashant commented on #93
Ya sure, I will try to make it simple and informative and will try to push it up in 3-4 days. 👍

[2018-06-29 18:54] thisisabdus commented on #81
@varshika15 drop me a message on slack. My display name is 'Abdus'.

[2018-06-30 16:12] mohit2016 commented on #36
I couldn't complete yet. I need more 3-4 hours. I've started working and I will submit it tonight positively.

[2018-06-30 18:22] mohit2016 commented on #36
Completed PR sent.

[2018-07-01 07:54] Pallavi024 commented on #27
@the-ethan-hunt  I would like to work on this issue

[2018-07-01 07:56] sourabh1031 commented on #27
@Pallavi024 if you don't mind i already referenced it

[2018-07-01 08:01] Pallavi024 commented on #27
Its okay, you can take this issue @sourabh1031 . I'll take another issue :smiley:

[2018-07-01 08:02] Pallavi024 commented on #1
I would like to work on this @the-ethan-hunt

[2018-07-01 17:57] #71 closed

[2018-07-01 17:58] the-ethan-hunt commented on #81
Time limit exceeded! Issue up for grabs!

[2018-07-01 17:59] #60 closed

[2018-07-01 18:04] #36 closed

[2018-07-01 18:05] the-ethan-hunt commented on #27
Assigned to @sourabh1031

[2018-07-01 18:06] the-ethan-hunt commented on #1
Assigned to @Pallavi024

[2018-07-01 18:08] the-ethan-hunt commented on #94
Assigned to @pbiswas101

[2018-07-01 18:08] the-ethan-hunt commented on #93
Time limit exceeded! Issue up for grabs!

[2018-07-01 18:09] #75 closed

[2018-07-01 18:09] the-ethan-hunt commented on #64
Issue unassigned and up for grabs!

[2018-07-01 18:18] shreyateeza commented on #64
@the-ethan-hunt I want to work on this issue!

[2018-07-01 18:28] the-ethan-hunt commented on #64
Assined to @Dhiraj240

[2018-07-01 18:29] the-ethan-hunt commented on #64
Assigned to @shreyateeza

[2018-07-01 18:32] Dhiraj240 commented on #64
@shreyateeza @the-ethan-hunt  can we work together? If you don't mind @shreyateeza

[2018-07-01 18:36] megha070 commented on #93
I would like to work on this @the-ethan-hunt !!

[2018-07-01 18:37] the-ethan-hunt opened #97 "Godot"
Include in `guides/Game Development`

[2018-07-01 18:39] the-ethan-hunt opened #98 "Drupal"
Include in `guides/Content Management Systems`

[2018-07-01 18:40] the-ethan-hunt commented on #93
Please complete work on your previous PR

[2018-07-01 18:44] the-ethan-hunt opened #99 "MongoDB"
Include in `guides/databases`

[2018-07-01 18:51] megha070 commented on #99
I would like to work on this @the-ethan-hunt !!

[2018-07-01 18:52] mohit2016 commented on #93
I want to take this issue. @the-ethan-hunt Please assign to me. Thank you :-)

[2018-07-01 19:35] saberprashant commented on #93
I am working on this already @the-ethan-hunt

On Mon, 2 Jul 2018, 12:22 am Mohit Uniyal, <notifications@github.com> wrote:

[2018-07-02 06:58] shreyateeza commented on #64
@Dhiraj240 Just saw your comment. A PR regarding this has been created(#101).
Feel free to take another issue!

[2018-07-02 09:47] Dhiraj240 commented on #64
okay, cool.

[2018-07-02 16:28] #1 closed

[2018-07-02 16:28] #13 closed

[2018-07-02 16:28] #16 closed

[2018-07-02 16:29] the-ethan-hunt commented on #99
Assigned to @megha070

[2018-07-02 16:30] the-ethan-hunt commented on #93
Assigned to @mohit2016
@saberprashant you have exceeded the time limit as under GSSOC rules
@megha070 please don't request to get assigned on every issue

[2018-07-02 16:31] the-ethan-hunt commented on #81
Assigned to @Pallavi024

[2018-07-02 16:56] the-ethan-hunt opened #102 "Laravel"
Add in `guides/DevOps`

[2018-07-02 17:41] megha070 commented on #93
@the-ethan-hunt sorry for the inconvenience !!

[2018-07-02 17:47] pbiswas101 commented on #102
@the-ethan-hunt I would like to work on this one!

[2018-07-03 12:42] the-ethan-hunt commented on #102
Complete your PR edit so that this can be assigned to you

[2018-07-03 12:57] sourabh1031 commented on #98
@the-ethan-hunt i would like to work on this

[2018-07-03 13:50] pbiswas101 commented on #102
Okay. Sure.

[2018-07-03 15:03] Mis2 commented on #98
@the-ethan-hunt can I work on this?

[2018-07-03 16:49] the-ethan-hunt commented on #98
Assigned to @sourabh1031
@Mis2 you can work on some other issue

[2018-07-03 16:51] the-ethan-hunt commented on #102
Assigned to @pbiswas101

[2018-07-03 16:51] #94 closed

[2018-07-03 16:52] #27 closed

[2018-07-03 17:03] Pallavi024 commented on #97
I would like to work on this @the-ethan-hunt

[2018-07-04 11:38] #93 closed

[2018-07-04 14:45] pbiswas101 opened #110 "D3.js"
I want to work on this @the-ethan-hunt

[2018-07-05 12:34] #99 closed

[2018-07-05 12:36] #81 closed

[2018-07-05 12:38] #98 closed

[2018-07-05 12:39] the-ethan-hunt commented on #97
Assigned to @Pallavi024

[2018-07-05 12:40] sourabh1031 commented on #12
@the-ethan-hunt i would like to take this up

[2018-07-05 12:45] the-ethan-hunt opened #112 "Plotly"
Include in `guides/data_visualisation`

[2018-07-05 12:45] the-ethan-hunt commented on #12
Assigned to @sourabh1031

[2018-07-05 12:48] the-ethan-hunt opened #113 "Tableau"
Include in `guides/data_visualisation`

[2018-07-05 12:52] the-ethan-hunt opened #114 "PostgreSQL"
Include in `guides/databases`

[2018-07-05 15:48] megha070 commented on #113
I would like to work on this!!

[2018-07-05 15:53] Shristy2404 commented on #114
I'll work on this and include `SQLAlchemy` in the same folder as well? Both are used together mostly, in Postgres based database structure.

[2018-07-05 15:56] mohit2016 commented on #114
I want to take this issue. Please assign :-)

[2018-07-05 16:01] pbiswas101 commented on #110
So, I've made the changes as per requested for PR #109
Can I work on this one now?

[2018-07-06 02:29] pbiswas101 commented on #110
Also in which folder should I put this file?

[2018-07-06 14:43] #102 closed

[2018-07-06 14:44] the-ethan-hunt commented on #114
Assigned to @Shristy2404

[2018-07-06 14:44] the-ethan-hunt commented on #113
Assigned to @megha070

[2018-07-06 15:07] the-ethan-hunt commented on #110
Assigned to @pbiswas101
Put in data visualisation folder

[2018-07-07 21:16] CoderJolly commented on #114
what is the issue, it nt clear from description

P.S. I m a beginner

[2018-07-07 21:23] CoderJolly commented on #114
Is it unassigned ? If nt den pls assign it to me....

[2018-07-08 04:28] sourabh1031 commented on #112
I would like to work on this issue

[2018-07-08 10:47] the-ethan-hunt commented on #112
Assigned to @sourabh1031

[2018-07-08 10:50] the-ethan-hunt opened #116 "Grails"
Write in `guide/web_frameworks`

[2018-07-09 05:36] mohit2016 commented on #116
I will work on this. I will write
what is groovy on grails, Introduction
Grails Installation,
running your first app
about grails controller, model and views
Is there any particular requirement or topic you wanted me to write about @the-ethan-hunt ?

[2018-07-09 15:24] the-ethan-hunt commented on #116
Assigned to @mohit2016 .
The abovementioned topics are enough

[2018-07-09 15:38] the-ethan-hunt commented on #110
Time window exceeded! Issue up for grabs!

[2018-07-09 15:41] the-ethan-hunt commented on #113
Time window exceeded! Issue up for grabs

[2018-07-09 15:47] pbiswas101 commented on #110
But you said not to make a PR on this weekend!! @the-ethan-hunt

[2018-07-09 15:47] pbiswas101 commented on #110
I've already written about it.

[2018-07-09 15:50] the-ethan-hunt opened #119 "Phalcon"
Include in `guides/web_framework`

[2018-07-09 18:29] megha070 commented on #119
i would like to work on this!

[2018-07-10 15:09] Pallavi024 commented on #113
I want to work on this

[2018-07-10 15:23] #110 closed

[2018-07-10 15:23] Pallavi024 commented on #64
@the-ethan-hunt  I would like to work on this.Can I work on this ?

[2018-07-10 15:24] #97 closed

[2018-07-10 15:24] the-ethan-hunt commented on #119
Assigned to @megha070

[2018-07-10 15:25] megha070 commented on #64
I would like to work on this as well!
If you don't mind @Pallavi024 . Can we both work on this!

[2018-07-10 15:25] #114 closed

[2018-07-10 15:28] pbiswas101 opened #122 "Tensorflow"
@the-ethan-hunt I would like to work on this!

[2018-07-10 15:28] the-ethan-hunt commented on #122
Why just Tensorflow.js?
I suggest you to write on TensorFlow including a passage on tensorflow.js

[2018-07-10 15:29] pbiswas101 commented on #122
Alright! Sure!

[2018-07-10 15:30] the-ethan-hunt commented on #122
Assigned to @pbiswas101
Include in `guides/data_science/machine_learning`

[2018-07-10 15:31] pbiswas101 commented on #122
Okay!

[2018-07-10 16:10] shreyateeza commented on #64
@Pallavi024 @megha070 I am working on this and will soon update my PR(#101).

[2018-07-10 16:11] the-ethan-hunt commented on #64
@Pallavi024 and @megha070 why don't you two work on this together while @shreyateeza works on her site.

[2018-07-11 15:04] pbiswas101 opened #125 "Turing Test"
I would like to work on this @the-ethan-hunt

`guides/logic`

[2018-07-11 15:07] #112 closed

[2018-07-11 15:10] the-ethan-hunt commented on #125
Please work on your previous PR first.

[2018-07-11 15:21] the-ethan-hunt commented on #122
@pbiswas101 new edit:
Include this in ~`guides/data_science/machine_learning`~ `guides/data_science/deep_learning`

[2018-07-11 15:23] the-ethan-hunt opened #126 "Hidden Markov Model"
Include in `guides/data_science/machine_learning`
A pictorial representation included would be helpful

[2018-07-11 15:28] the-ethan-hunt opened #127 "Mercurial"
Add in `guides/Version_Control`

[2018-07-11 15:33] pbiswas101 commented on #122
Okay

[2018-07-11 16:28] sourabh1031 commented on #127
I would like to work on the issue

[2018-07-11 16:37] pbiswas101 commented on #125
@the-ethan-hunt I've made the changes on my PR #124
Now, please assign this one to me!

[2018-07-11 18:13] Pallavi024 commented on #126
I would like to work on this

[2018-07-11 19:46] megha070 commented on #126
I would like to work on this!

[2018-07-12 14:31] the-ethan-hunt commented on #125
Assigned to @pbiswas101

[2018-07-12 14:32] the-ethan-hunt commented on #126
Assigned to @Pallavi024
P.S. This is a topic where I would require more depth than you usually delve in , @Pallavi024  :smile:

[2018-07-12 14:32] the-ethan-hunt commented on #127
Assigned to @sourabh1031

[2018-07-12 14:33] #122 closed

[2018-07-12 14:33] the-ethan-hunt commented on #116
Time limit exceeded! Issue up for grabs!

[2018-07-12 14:35] the-ethan-hunt commented on #126
@megha070 please complete your previous PR.
@Pallavi024 please complete the allotted Issue #113
And both of you, please work on the website issue too.

[2018-07-12 14:39] Pallavi024 commented on #126
@the-ethan-hunt  sir I have completed the issue #113 and even made a pull request for the same yesterday only

[2018-07-13 04:39] mohit2016 commented on #116
@the-ethan-hunt i had written the article, it's just i couldn't upload it. I've now sent PR for the same. will you consider it to be my issue or want to reassign?

[2018-07-13 08:59] thisisabdus opened #133 "Add ssh"
- About SSH
- How to connect to github using SSH
- Login to a remote PC using SSH

[2018-07-13 15:14] pbiswas101 opened #135 "MVC Design Pattern"
@the-ethan-hunt I would like to work on this!

[2018-07-13 16:51] #119 closed

[2018-07-13 16:55] #125 closed

[2018-07-13 16:55] #116 closed

[2018-07-13 16:57] the-ethan-hunt commented on #133
Assigned to @thisisabdus

[2018-07-13 16:58] the-ethan-hunt commented on #135
Please explain what would you be writing in the article

[2018-07-14 04:32] eddygta17 opened #137 "Blender Guide is blunt"
The guide for blender in game development is not upto other guides in the repo,
https://github.com/the-ethan-hunt/first-timers-guide/blob/master/guides/Game%20Development/Blender.md

[2018-07-14 05:53] the-ethan-hunt commented on #137
@eddygta17 if you can, then please create a better guide for blunt. :smile:

[2018-07-14 06:02] eddygta17 commented on #137
Sure I will do it.

[2018-07-14 12:43] #113 closed

[2018-07-14 14:05] pbiswas101 commented on #135
@the-ethan-hunt please label it & let me know your thoughts on my points...!!

[2018-07-14 16:44] sourabh1031 opened #138 "Restructured text guide"
I will be writing about it basic syntax, applications, and usage in technical documentation

[2018-07-15 07:12] the-ethan-hunt commented on #126
Assigned to @Pallavi024

[2018-07-15 07:14] the-ethan-hunt commented on #135
Assigned to @pbiswas101

[2018-07-15 07:17] the-ethan-hunt commented on #138
@sourabh1031 my two cents on why this article is not required:
- There are already several excellent guides for beginners in reStructured text and any cheatsheets
- The topic is regarded as a documentation 'language' not a concept. We aim to explain concepts to newbies.
Try to bring up another issue :smile:
Closing this one

[2018-07-15 07:17] #138 closed

[2018-07-15 08:57] sourabh1031 opened #139 "flask"
@the-ethan-hunt i would like to work on it i will describe basic introduction about flask, installing configuration, use, and flask vs Django

[2018-07-15 09:11] megha070 commented on #139
I would like to work on this!!

[2018-07-15 09:42] sourabh1031 commented on #139
@megha070  actually i have opened up the issue and asked to get it assigned to me . Can  you please work on another or you can open another issue as well

[2018-07-15 10:14] megha070 commented on #139
Ohh!! I am sorry I did'nt notice.

[2018-07-15 14:34] mohit2016 opened #140 "Neural Networks"
I want to write about this topic. @the-ethan-hunt Please assign.

[2018-07-15 14:51] thisisabdus commented on #133
I will make PR by tomorrow.

[2018-07-15 16:11] sourabh1031 commented on #139
@megha070 np

[2018-07-15 16:26] pbiswas101 opened #142 "Material Design/Materialize.css"
Topics to include:
- What is Material Design?
- Design Principle
- Materialize.css (framework)

@the-ethan-hunt I would like to work on this one!
Let me know your thoughts as to which one I sould focus more **Material Design** or **Materialize.css** or both!

[2018-07-16 09:39] Man-Jain opened #143 "Writing Documentation"
I would like to write a guide on how to write documentation, why to write it and the different tools we can use like Markdown and RST. Please assign this issue to me.

[2018-07-16 18:01] #135 closed

[2018-07-16 18:02] the-ethan-hunt commented on #133
@thisisabdus you are crossing the deadline!

[2018-07-16 18:02] #127 closed

[2018-07-16 18:03] the-ethan-hunt commented on #139
Assigned to @sourabh1031
To both of you @sourabh1031 and @megha070 : good coordination!

[2018-07-16 18:05] the-ethan-hunt commented on #142
Material Design is better
Assigned to @pbiswas101

[2018-07-16 18:06] the-ethan-hunt commented on #140
Assigned to @mohit2016

[2018-07-16 18:11] the-ethan-hunt commented on #143
@Man-Jain there are various really good tools for this. An issue was raised previously too for this but I have specified the reasons for why it is not required. See #138

[2018-07-16 18:31] Man-Jain commented on #143
Okay, I have understood your point. No problem I will find something else to write on. :)

[2018-07-17 17:30] #143 closed

[2018-07-18 16:36] megha070 opened #149 "vanilla js"
I will write about vanilla js ,it's installation

[2018-07-18 16:50] #126 closed

[2018-07-18 16:51] the-ethan-hunt commented on #149
Assigned to @megha070

[2018-07-18 16:57] pbiswas101 opened #150 "Virtual Reality/Augmented Reality"
I would like to work on this @the-ethan-hunt

[2018-07-18 16:58] pbiswas101 commented on #150
Points to be included:
- What is VR?
- What is AR?
- Differences!
- Impact on the world
- Future possibilities

[2018-07-18 17:04] the-ethan-hunt commented on #150
@pbiswas101 the topic has been on a lot of hype and covering it again might seem trivial. How about finding another nice topic like you usually do?

[2018-07-18 17:16] pbiswas101 commented on #150
Okay! Closing this issue then!

[2018-07-18 17:16] #150 closed

[2018-07-18 17:20] pbiswas101 opened #151 "Package Manager"
@the-ethan-hunt I would like to work on this one. Please label it!

Topics to include:
- what is a package manager?
- how to use it?
- list of package mangement system
- npm (largest package manager)

[2018-07-18 17:42] sourabh1031 opened #152 "Ruby on Rails"
@the-ethan-hunt  please assign me the issue

[2018-07-19 09:27] Pallavi024 opened #153 "Kotlin"
@the-ethan-hunt I would like to write a guide on Kotlin. Please assign me this issue

[2018-07-19 17:02] #142 closed

[2018-07-19 17:03] the-ethan-hunt commented on #151
Assigned to @pbiswas101

[2018-07-19 17:03] #139 closed

[2018-07-19 17:04] the-ethan-hunt commented on #152
@sourabh1031 Ruby on Rails might not be a good topic for the project. We are focusing only on concepts. Try picking a great topic like you usually do!

[2018-07-19 17:04] #152 closed

[2018-07-19 17:05] the-ethan-hunt commented on #153
@Pallavi024 Kotlin is a language; I would prefer not writing guides on languages since already a lot of literature is available for it. Try something bigger! 😄

[2018-07-19 17:05] #153 closed

[2018-07-19 17:10] sourabh1031 opened #154 "Next.js"
@the-ethan-hunt I would like to work on it.

[2018-07-19 17:12] the-ethan-hunt commented on #154
Assigned to @sourabh1031

[2018-07-19 17:15] sourabh1031 commented on #154
@the-ethan-hunt  i mean to say this --> https://nextjs.org/learn/

[2018-07-19 17:17] sourabh1031 commented on #154
By the way thanks @the-ethan-hunt  i came to know one more new thing from you

[2018-07-20 03:34] imkaka commented on #133
@the-ethan-hunt I want to work on this.

[2018-07-20 06:57] Pallavi024 opened #155 "Plotly"
@the-ethan-hunt I would like to work on this

[2018-07-20 07:50] megha070 opened #157 "InternetOfThings"

[2018-07-20 17:18] sourabh1031 commented on #155
@Pallavi024 I have already created pr for the same so you can close this for now and  make another issue

[2018-07-20 17:44] sourabh1031 opened #159 "Pyramid Web Framework"

[2018-07-20 17:45] sourabh1031 commented on #159
@the-ethan-hunt  i will be working on this

[2018-07-20 17:50] pbiswas101 commented on #151
@the-ethan-hunt where should I put this article?

[2018-07-20 18:01] pbiswas101 opened #161 "Prototypal Inheritance"
@the-ethan-hunt I would like to work on this!

Topics to include:
- What is Prototypal Inheritance?
- How is it different from Classical OOP?
- Which languages support it?

[2018-07-20 18:04] pbiswas101 commented on #161
Also state where should I put this?

[2018-07-20 18:14] Pallavi024 opened #162 "D3.js"
I Would like to work on this issue

[2018-07-20 18:16] #162 closed

[2018-07-20 18:17] #155 closed

[2018-07-20 18:23] Pallavi024 opened #163 "DataHero"
I would like to work on this

[2018-07-21 03:41] megha070 opened #164 "Nuxt.js"

[2018-07-21 13:52] #154 closed

[2018-07-21 13:54] the-ethan-hunt commented on #149
Issue up for grabs!

[2018-07-21 13:55] #151 closed

[2018-07-21 13:56] the-ethan-hunt commented on #157
This concept is widely detailed in several blogs and educational material. Not worthy to spend time for this topic 😄

[2018-07-21 13:56] #157 closed

[2018-07-21 13:57] the-ethan-hunt commented on #159
Assigned to @sourabh1031

[2018-07-21 13:59] the-ethan-hunt commented on #161
@pbiswas101 I have a very vague knowledge of OOP.
@RN0311 can you help out here 😅

[2018-07-21 14:00] the-ethan-hunt commented on #163
Assigned to @Pallavi024

[2018-07-21 14:01] the-ethan-hunt commented on #164
Assigned to @megha070

[2018-07-21 14:11] the-ethan-hunt opened #165 "Amdahl's Law"
Include in `guides/computation`

[2018-07-21 14:18] pbiswas101 commented on #161
@the-ethan-hunt @RN0311
So, shall I start writing about this one?

[2018-07-21 14:19] pbiswas101 commented on #149
I would like to work on this one!!

[2018-07-21 14:19] the-ethan-hunt commented on #161
Yes prepare the article and once the folder data is provided , you can do the rest. 😄

[2018-07-21 14:20] pbiswas101 commented on #161
Can you label it? @the-ethan-hunt

[2018-07-21 21:56] RN0311 commented on #161
@pbiswas101 : Hey! That's a great idea of distinguishing between classical OOPS as well as describing Prototype-based-programming and giving language support of JS, Lua etc! Try to include this resource - ``` https://medium.com/@kevincennis/prototypal-inheritance-781bccc97edb ``` - a great article indeed! :wink:
@the-ethan-hunt : We can add labels like ```web-development```,  ```GSSOC``` et all. :

[2018-07-22 17:57] megha070 commented on #165
I WOULD LIKE TO WORK ON THIS!!

[2018-07-22 18:41] pbiswas101 commented on #161
@the-ethan-hunt please **label**/**assign** it & state the **folder** for the file!
I've written the file already, waiting for the response as where should I put it!?

[2018-07-23 17:29] the-ethan-hunt commented on #165
Assigned to @megha070

[2018-07-24 04:42] #159 closed

[2018-07-24 14:06] Pallavi024 opened #171 "Apache Tomcat"
I would like to work on this

[2018-07-24 14:24] pbiswas101 opened #172 "Semantic Web"
@the-ethan-hunt I would like to work on this!

[2018-07-24 15:40] the-ethan-hunt commented on #149
Please mention issue number while pulling a PR. Closing this issue

[2018-07-24 15:40] #149 closed

[2018-07-24 15:43] #161 closed

[2018-07-24 17:43] the-ethan-hunt commented on #172
Assigned to @pbiswas101

[2018-07-24 17:44] the-ethan-hunt commented on #171
Assigned to @Pallavi024

[2018-07-24 17:44] #163 closed

[2018-07-25 08:46] pbiswas101 opened #174 "Functional Programming"
@the-ethan-hunt I would like to work on this!

`guides/Programming_Paradigm/`

[2018-07-25 15:35] megha070 commented on #133
I would like to work on this @the-ethan-hunt !!

[2018-07-25 17:01] megha070 opened #176 "Parallel Computing"

[2018-07-25 17:18] sourabh1031 commented on #164
@megha070 If you are busy can i take up this issue

[2018-07-25 17:20] sourabh1031 commented on #133
@the-ethan-hunt  i can work on this

[2018-07-25 19:04] megha070 commented on #164
@sourabh1031  I am really very sorry but I raised a PR for this issue and it has been merged already!!

[2018-07-26 00:34] sourabh1031 commented on #164
@megha070 np you have done the work so now you can close the issue by yourself

[2018-07-26 07:48] sourabh1031 opened #177 "Socket.io"
@the-ethan-hunt  i will work on this issue

[2018-07-26 08:22] megha070 commented on #164
Thanks a ton !! I was'nt knowing about this!!

[2018-07-26 08:22] #164 closed

[2018-07-26 12:31] RN0311 commented on #174
@pbiswas101 : Much needed!
@the-ethan-hunt : Please assign this! :smile:

[2018-07-26 15:07] Pallavi024 opened #179 "Babel.js"
I would like to work on this

[2018-07-27 10:35] mohit2016 opened #180 "Classification in Machine Learning"
@the-ethan-hunt Please assign this issue to me. I will write about the different algorithms for classification.

[2018-07-28 13:14] the-ethan-hunt commented on #174
Assigned to @pbiswas101  after he completes his previous PR

[2018-07-28 13:16] the-ethan-hunt commented on #177
Socket.io is a JS library AFAIK. We don't need guides on libraries. Closing this issue.

[2018-07-28 13:16] #177 closed

[2018-07-28 13:17] the-ethan-hunt commented on #180
@mohit2016 this will be a topsider issue. And there will be an article for every algorithm. Do you want to continue with it?

[2018-07-28 13:42] mohit2016 commented on #180
Sure. I will do it.!

[2018-07-28 15:07] sourabh1031 opened #181 "Regular Expression"
@the-ethan-hunt i would like to work on this

[2018-07-29 15:40] mohit2016 commented on #180
Sorry, I cannot continue for a few days due to my poor health, got admitted to the hospital.
@the-ethan-hunt   Please unassign this issue.

[2018-08-02 03:29] #172 closed

[2018-08-02 03:29] #165 closed

[2018-08-02 03:29] the-ethan-hunt commented on #176
@megha070 please explain what you would be writing in this article.

[2018-08-02 03:30] #140 closed

[2018-08-02 03:31] the-ethan-hunt commented on #174
@pbiswas101 are you working on this?

[2018-08-02 03:32] the-ethan-hunt commented on #180
Issue up for grabs!

[2018-08-02 03:33] the-ethan-hunt commented on #181
Nice topic @sourabh1031 ! Please include its role in lexical analysis
Put this in `guides/data_science/natural_language_processing`

[2018-08-02 03:39] pbiswas101 commented on #174
@the-ethan-hunt
yes I've already written about it! Let me make a PR...

[2018-08-02 04:06] pbiswas101 opened #183 "Don't Repeat Yourself (DRY)"
@the-ethan-hunt I would like to work on this!

`guides/agile`

[2018-08-03 01:16] pbiswas101 commented on #183
@the-ethan-hunt I've completed my PR #182 regarding Functional Programming!

Now, please label this one & assign it!

[2018-08-06 14:33] pbiswas101 commented on #180
@the-ethan-hunt I would like to work on this & just to be sure when you said "`there will be an article for every algorithm`" did you meant these eight classification algorithms, only?
- Logistic Regression
- Naive Bayes Classifier
- Support Vector Machines
- Decision Trees
- Boosted Trees
- Random Forest
- Neural Networks
- Nearest Neighbor

[2018-08-12 07:54] the-ethan-hunt opened #186 "Glassfish"
Add in `guides/web_containers`

[2018-08-12 17:25] pbiswas101 commented on #186
@the-ethan-hunt I would like to work on this!

[2018-08-13 13:30] the-ethan-hunt commented on #186
Assigned to @pbiswas101

[2018-08-15 05:11] #180 closed

[2018-08-15 09:34] pbiswas101 commented on #186
Please un-assign this one!

[2018-08-15 09:39] pbiswas101 opened #188 "Blockchain"
@the-ethan-hunt I would like to work on this!

[2018-08-16 21:55] ManishaTripathy commented on #133
I would like to work on this.

[2018-08-17 07:35] #133 closed

[2018-08-17 07:36] the-ethan-hunt commented on #188
Assigned to @pbiswas101

[2018-08-17 07:36] the-ethan-hunt commented on #176
Assigned to @megha070

[2018-08-17 18:35] pbiswas101 opened #191 "Progressive Web Apps"
@the-ethan-hunt I would like to work on this.

Also specify the folder as where should I put it?

[2018-08-19 04:56] sourabh1031 opened #192 "REST API"
@the-ethan-hunt i would like to work on this

[2018-08-20 12:53] RN0311 commented on #192
@sourabh1031 : Please go ahead! Even if GSSoC end is around the corner, but I would still like to continue reviewing PR's, provided @the-ethan-hunt approves that! :wink:

But, right now try to write an article on this topic & I'll review your PR! :smiley: :

[2018-08-20 12:58] RN0311 commented on #191
Hey, @pbiswas101 it will be great if you start writing on this topic! We'll decide once @the-ethan-hunt will be back, I guess he must be busy with other things.
Just a random tip:- Even if GSSoC ends, don't hesitate to submit your PR(s) since it will further enhance your learning curve!

Good luck! :smiley:

[2018-08-21 12:41] #188 closed

[2018-08-21 12:42] the-ethan-hunt commented on #191
Assigned to @pbiswas101
Currently add it to web containers. We will decide that later.

[2018-08-21 12:42] pbiswas101 commented on #191
Okay

[2018-08-21 12:42] the-ethan-hunt commented on #192
Assigned to @sourabh1031

[2018-08-22 05:28] megha070 commented on #186
I would like to work on this!
@the-ethan-hunt

[2018-08-22 09:46] sourabh1031 commented on #192
@RN0311 please review

[2018-08-22 18:42] the-ethan-hunt commented on #186
Assigned to @megha070

[2018-08-22 18:42] #191 closed

[2018-08-22 18:42] #192 closed

[2018-08-22 18:43] #176 closed

[2018-08-22 18:43] #171 closed

[2018-09-19 18:40] drigio opened #196 "Add a README to each guide folder"
@the-ethan-hunt  I would like to create a readme for every folder inside the guides folder explaining about the umbrella concept which is also the folder name.
For Eg,
* guides
  * DevOps
    * README.md
  * Networking
    * README.md
  * UI Design
    * README.md

[2018-10-01 10:41] the-ethan-hunt opened #197 "Jira"
Include in `guides/issue_tracking`

[2018-10-01 10:43] the-ethan-hunt opened #198 "Bugzilla"
Add in `guides/issue_tracking`

[2018-10-01 15:58] codemzy commented on #197
I will have a go at this 👍

[2018-10-02 10:07] #197 closed

[2018-10-02 10:51] MansiNegi27 commented on #198
Can I work on this isssue?

[2018-10-02 10:58] the-ethan-hunt commented on #198
Sure @MansiNegi27 !

[2018-10-02 17:25] fdmarcin opened #201 "Contributing.md is not clear"
Hi,
I would like to improve this doc's readability. Is it okay if I fork and do a PR?

[2018-10-02 17:28] MansiNegi27 commented on #198
#200

[2018-10-02 18:48] #198 closed

[2018-10-02 18:48] the-ethan-hunt commented on #201
@fdmarcin would you please state how the `CONTRIBUTING.md` is not clear? :smile:

[2018-10-02 18:59] fdmarcin commented on #201
Sorry about the issue title being too vague. I didn't know how to phrase it better.

I think the text could use some editing improvements, such as making some sentences easier to understand for non-native English speakers.
For example, I'd change:

to

How about I give it a try, and you see if you like the changes?

[2018-10-02 19:17] the-ethan-hunt commented on #201
@fdmarcin sure! I agree some sentences can be tweaked to make it easier to understand for non-English speakers. Let's give this a shot! :tada:

[2018-10-03 09:44] jinojossy93 commented on #64
Hi @the-ethan-hunt ,

Can I take this up?

[2018-10-03 17:40] fdmarcin commented on #201
@the-ethan-hunt
What does **do it** mean here? Create an issue? Or write an article?

[2018-10-03 18:26] #201 closed, assigned to nobody

[2018-10-12 18:22] Qamar30 commented on #64
I'm interested how far is the website

[2018-10-12 19:12] the-ethan-hunt commented on #64
@Qamar30 there has been no progress. You are free to take up the issue.

[2018-10-24 02:01] strobelt commented on #186
Is this still available? I would like to help

[2018-10-25 07:44] the-ethan-hunt commented on #186
@strobelt feel free to work on it! :tada:

[2018-11-04 17:07] the-ethan-hunt opened #214 "Bazel"
Include in `guides\automation`

[2018-11-04 17:10] the-ethan-hunt opened #215 "Capsule Nets"
Explain what Capsule nets are and how they differ from CNNs. Include in `guides/data_science/deep_learning`

[2018-11-04 17:11] the-ethan-hunt opened #216 "Write an index"
Write out an index in the `README.MD` with each topic title in its respective topic and a direct link to the article.

[2018-11-19 20:45] AlexGisi opened #217 "Standardize formatting and grammar"
I would like to work on this.

The heading articles start with is inconsistent; I'll standardize it to the name of the article. I'll also clean up formatting and grammar in article bodies.

[2018-12-04 04:43] deepak2431 commented on #216
I would like to work on this issue.Can you let me know the format of README.md after adding index.

[2018-12-18 16:48] EdgeKing810 commented on #64
Hello @the-ethan-hunt!
Must be bored of getting people to comment on this...

Anyway I want to take it. I participated in GCI this year and have kind of good knowledge in making websites using github pages and jekyll/HTML & CSS...

I need some more details tho... What should the website look like? I mean does the first page needs to only correspond to the ``README.md``?

Also, I'm thinking of work

[2018-12-18 17:21] EdgeKing810 commented on #64
I created an ``index.rst`` as the first page of the website after the ``README.md`` file. Let me know if it's good.

[2018-12-18 18:46] EdgeKing810 commented on #216
Done... please check it out

[2018-12-22 07:14] #64 closed

[2018-12-22 07:14] #216 closed

[2018-12-22 07:39] the-ethan-hunt opened #222 "Launch the webpage"
In succession of Issue #64 and following PR #221 , we need the webpage to be hosted at [https://the-ethan-hunt.github.io/](https://the-ethan-hunt.github.io/). Take the example from [this repo](https://github.com/athityakumar/tvseries)

Pinging @EdgeKing810 also for reviewing who started with the awesome PR #221

[2018-12-30 16:35] EdgeKing810 commented on #222
Hey @the-ethan-hunt! Happy that you're satisfied with the work I did!

but for hosting the webpage on GitHub pages, I think you just have to rename this repo to `the-ethan-hunt.github.io` and that should be it. :smiley:

[2018-12-30 16:48] the-ethan-hunt commented on #222
@EdgeKing810 I was hoping to make a different webpage for it :smile:

[2018-12-31 08:50] EdgeKing810 commented on #222
Oh okay @the-ethan-hunt. Could you give me some more details on what needs to be done as I'm not really understanding... and if I find that I can do it, I will. :grimacing:

[2019-03-13 00:43] sanunes commented on #214
Hey @the-ethan-hunt, do you mind if I tackle this issue using the Java build?

[2019-03-14 17:35] the-ethan-hunt commented on #214
um, sure @sanunes . What do you aim to do? :smile:

[2019-03-14 19:35] sanunes commented on #214
My intention is to build a simple Java app and use the example given by one of the Bazel tutorials. Add some the tests, explain the file structure etc.

[2019-03-18 17:16] the-ethan-hunt commented on #214
Sounds great @sanunes . You may begin work on it. :smile:

[2019-03-20 00:04] sanunes commented on #214
Awesome, I will start working on it ASAP.

[2019-03-25 00:08] janani-sridhar commented on #215
Hi! I think I can work on this. Are you still looking to solve this issue?

[2019-03-25 13:54] the-ethan-hunt commented on #215
@janani-sridhar sure, you can solve this issue.

[2019-06-12 00:09] #217 closed

[2019-07-01 10:35] godfather2 commented on #186
i would like to work on this

[2019-09-30 14:59] ritesh-pandey commented on #222
@the-ethan-hunt Is the issue still open? Can you please clarify the problem statement? As @EdgeKing810 pointed out, to host the website the only thing that needs to be done is creating a repository with name `the-ethan-hunt.github.io`. This will function just like the example you mentioned i.e. https://athityakumar.github.io/tvseries/index.html

[2019-09-30 15:26] ritesh-pandey opened #232 "Hidden Markov model page is not reachable from table of contents"
HMM page is not linked correctly from readme file.

[2019-10-08 18:53] Swayamsvk commented on #186
Can I work on this?

[2019-10-13 16:03] the-ethan-hunt commented on #186
Assigned to @Swayamsvk

[2019-10-16 15:35] darkthunder007 commented on #214
is this issue still open?

[2019-10-29 10:10] HMuhammad opened #278 "No PowerBI article in the data visualization section"
There is no PowerBI article in the data visualization section
It's a very useful tool.
Maybe you/we should add one.

[2019-11-16 07:41] keertirajmalik commented on #232
can i work on this to make it working??

[2020-10-01 10:23] Kirty-Goyal commented on #215
Hi! If this issue is not taken by anyone, can i take it?

[2022-10-09 05:07] avibansal82 opened #297 "Networking/IP Addresses article link is not working in readme file"
In table of Topics Networking/IP Addresses topic is there.
but its link is not working